body {
  padding: 10px;
}

#gallery {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

img {
  width: 300px;
  height: 200px;
}

img:nth-last-child(3) {
  margin-right: 10px;
}

#counter {
  margin-bottom: 15px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  display: block;
  margin-top: 20px;
}

#text {
  display: inline-block;
  margin-bottom: 30px;
}
